<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      
         <p>Forgot your password , dont worry you can reset your password</p>
            <br>
         <p>Fill the form to reset the password</p>

         <form action="/resetpassword" method="POST">

               <input type="password" name = "password" placeholder="password">
               <input type="password" name="confirm_password" placeholder="confirm_password" >
               <input type="submit" >
         </form>
</body>
</html>