<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Application</title>
</head>
<body> 
 
            <h3>Nodejs Application with Nodemailer</h3>
             <div>
                     
                   <img src="../../uploads/file-1655418493304.jpg"  alt="" width="100vw" height="50vh">
                   <br>
                   <p>Respected</p>
                   <p>We at Google Developer Students Club invite you to join us on <b>8 July</b> in the Gurugram office of the Google. We really appreciated your contribution to the GDSC community and hereby declare a farewell party for you people. We welcome you and waiting for the event.</p>
                   <p>Thanks and Regards</p>
                   <p>Google Student Developers Group</p>
                   
             </div>
</body>
</html>